.linkDowload {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    width: 202px;
    height: 202px;
    margin-right: 16px;
    cursor: pointer;

    transition: .2s ease;
}

.linkDowload:hover {
    background-color: #248AFF;
}

@media (max-width: 871px) {
    .linkDowload {
        margin: 10px;
    }
}