.headercontainer {
    width: 100%;
    max-width: 865px;
    margin: 0 auto;
    position: relative;
    z-index: 10001;
}

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 7px 7px 8px 7px;
    align-items: center;
    background: rgba(18, 19, 22, 0.8);
    border-radius: 56px;
    margin-top: 31px;
}

.logo {
    margin-right: 30px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.nav_item {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.nav_link {
    margin-right: 27px;
    opacity: .4;
}

.nav_link:hover {
    opacity: 1;
}

.button {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    padding: 9px 23px;
}

.button.first {
    margin-right: 8px;
    opacity: .4;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.05);
}

.button.first:hover {
    opacity: .6;
}

.button__link.inIntro {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

/* menu toggle */

.menu {
    width: 30px;
    height: 23px;
    margin-right: 10px;
    display: none;
    align-items: center;
    position: relative;
    background: none;
}

.line {
    content: "";
    display: inline-block;
    border-radius: 20px;
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.line:nth-child(1) {
    position: absolute;
    top: 0;
}

.line:nth-child(2) {
    position: absolute;
    bottom: 10px;
}

.line:nth-child(3) {
    position: absolute;
    bottom: 0;
}

.active.line:nth-child(1) {
    transform: rotate(45deg) translateY(6px) translateX(8px);
}

.active.line:nth-child(2) {
    width: 0;
}

.active.line:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px) translateX(8px)
}

.toggleItems {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: rgba(31,32,35,.8);
    backdrop-filter: blur(3px);
    padding: 20px 25px;
    border-radius: 20px;
}

.itemToggle {
    margin-top: 20px;
    opacity: .4;
}

.itemToggle:hover {
    opacity: 1;
}

.itemToggle:first-child {
    margin-top: 0;
}

/* media breakpoints */
@media (max-width: 1063px) {
    .headercontainer {
        display: flex;
        justify-content: center;
    }

    .toggleItems {
        display: block;
    }

    .header{
        max-width: 500px;
        width: 100%;
    }

    .menu {
        display: flex;
    }

    .buttons,
    .nav_item {
        display: none;
    }
}

@media (max-width: 538px) {
    .headercontainer {
        max-width: 270px;
    }
    .toggleItems {
        right: 1px;
    }
}